body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax:nth-child(odd) {
    background-image: url('background.jpg'); 
}

.parallax:nth-child(even) {
    background-image: url('background1.jpg');
}

.glassmorphism-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.education {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.technicalSkills {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.interpersonalSkills {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.project {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}